Building_Permits.csv를 dataframe 형태로 읽어들여 sfPermits에 집어 넣고 그 dataframe의 행과 열의 갯수를 출력하시오

In [12]:
 import pandas as pd

In [45]:
sfPermits = pd.read_csv("Building_Permits.csv")
print(len(sfPermits),',',len(sfPermits.columns))

198900 , 43


sfPermits의 column별로 null인 data의 갯수를 구해 missingCount에 집어넣고 missingCount의 type을 출력하시오. 그 후 missingCount를 null인 data의 갯수의 내림차순으로 정렬하여 상위 10개만 출력하시오

In [94]:
missingCount = sfPermits.isnull().sum()
print(missingCount.dtype)
missingCount.sort_values(ascending=[False]).head(10)

int64

TIDF Compliance                  198898
Voluntary Soft-Story Retrofit    198865
Unit Suffix                      196939
Street Number Suffix             196684
Site Permit                      193541
Structural Notification          191978
Fire Only Permit                 180073
Unit                             169421
Completed Date                   101709
Permit Expiration Date            51880
dtype: int64


위 문제에서 구한 column별 null data의 갯수 중에는 중복된 값도 있고 유일한 값도 있는데 이 중 유일한 값이 몇개나 있는지 구해서 출력하시오. value_counts()라는 method를 활용하고 아마 배우지 않은 method를 자신이 직접 찾아내어 사용해야 할 수도 있음. <br>
**한 줄의 코드로 작성 가능함.**

In [116]:
len(missingCount.drop_duplicates(keep=False).value_counts())

27