## [출석인정용과제]

IMDB-Movie-Data.csv를 dataframe으로 읽어들여 전체 data의 몇 %가  missing data인지 소숫점 이하 둘째자리까지만 출력하는 프로그램을 작성하시오. 파일을 읽어들일때 "Title"을 index column으로 하시오.

In [1]:
import pandas as pd
df = pd.read_csv('IMDB-Movie-Data.csv',index_col='Title')
a=df.isnull().sum().sum()/df.count().sum()
a=round(a,2)
print(a,'%')

0.02 %

## [학점취득용과제1, 2, 3]

### data cleaning & exploration 1.ipynb 파일 강의시 언급한 homework 문제를 다음의 순서대로 프로그램하시오. 아래 7개의 단계가 문제 3개로 나뉘어 있음.

1. IMDB-Movie-Data.csv 파일을 다시 읽어들이시오.
1. revenue column의 missing data 갯수를 출력하시오
1. revenue column의 mean값을 구해 revenue_mean 에 넣고 출력하시오
1. revenue column을 genre별로 grouping하고 genre별 mean값을 구해 genre_mean에 넣고 출력하시오. genre이름과 mean값만 출력되어야 함.
1. revenue column의 missing data를 genre별 평균값으로 impute 하시오.
1. genre에 따라서 1개의 행만 있고 그 행의 revenue 값이 NaN인 genre가 여러 개 있습니다.이런 genre의 revenue 평균값은 그대로 NaN이 되고 impute 해봐야 NaN 자리에 NaN이 들어가게 되어 그대로 NaN으로 남습니다.  revenue column에서 impute 후에도 아직도 NaN인 data의 갯수를 출력하시오.
1. 6단계후에 남은 NaN 모두를 3단계에서 구한 revenue_mean으로 채우고 revenue column에서 NaN인 data의 갯수를 출력하시오. 0개가 출력되어 더 이상 NaN이 없는 것으로 나와야 맞습니다.

### 프로그램 실행시 warning이 나올 수 있는데 프로그램 시작시 아래 코드를 넣어 warning이 출력되지 않도록 하시오

import warnings <br>
warnings.filterwarnings('ignore')

### dataframe의 cell이 NaN(Not a Number)인지 아닌지를 테스트하려면np.isnan() 함수를 사용하시오.

## [학점취득용과제1]
### 아래 단계가 실행되도록 코딩하시오
1. IMDB-Movie-Data.csv 파일을 다시 읽어들이시오.
1. revenue column의 missing data 갯수를 출력하시오
1. revenue column의 mean값을 구해 revenue_mean 에 넣고 출력하시오

In [2]:
import warnings
warnings.filterwarnings('ignore')
df = pd.read_csv('IMDB-Movie-Data.csv')
print(df['Revenue (Millions)'].isnull().sum())
revenue_mean=df['Revenue (Millions)'].mean()
print(revenue_mean)

128
82.95637614678897

## [학점취득용과제2]
### 아래 단계가 실행되도록 코딩하시오
4. revenue column을 genre별로 grouping하고 genre별 mean값을 구해 genre_mean에 넣고 출력하시오. genre이름과 mean값만 출력되어야 함.
5. revenue column의 missing data를 genre별 평균값으로 impute 하시오.

In [3]:
import numpy as np
a=df.groupby('Genre')[['Revenue (Millions)']].mean()
a

                            Revenue (Millions)
Genre
Action                              131.560000
Action,Adventure                    223.740000
Action,Adventure,Biography           16.500000
Action,Adventure,Comedy              95.733571
Action,Adventure,Crime               90.620000
...                                        ...
Romance,Sci-Fi,Thriller              62.450000
Sci-Fi                               20.760000
Sci-Fi,Thriller                      64.510000
Thriller                              0.320000
Thriller,War                               NaN

[207 rows x 1 columns]

In [6]:
revenue=a
revenue.fillna(df.groupby('Genre')['Revenue (Millions)'].mean(), inplace = True)

## [학점취득용과제3]
### 아래 단계가 실행되도록 코딩하시오
6. genre에 따라서 1개의 행만 있고 그 행의 revenue 값이 NaN인 genre가 여러 개 있습니다.이런 genre의 revenue 평균값은 그대로 NaN이 되고 impute 해봐야 NaN 자리에 NaN이 들어가게 되어 그대로 NaN으로 남습니다.  revenue column에서 impute 후에도 아직도 NaN인 data의 갯수를 출력하시오.
7. 6단계후에 남은 NaN 모두를 3단계에서 구한 revenue_mean으로 채우고 revenue column에서 NaN인 data의 갯수를 출력하시오. 0개가 출력되어 더 이상 NaN이 없는 것으로 나와야 맞습니다.

In [77]:
a.isnull().sum()

Revenue (Millions)    12
dtype: int64

In [78]:
a.fillna(revenue_mean, inplace = True)

In [79]:
a.isnull().sum()

Revenue (Millions)    0
dtype: int64