## [출석인정용과제]

Automobile_data.csv를 dataframe으로 읽어들인 후 company별 차량 모델의 갯수를 아래와 같이 value_counts()를 이용하여 내림차순으로 출력할 수 있다. value_counts() 대신에 groupby()를 이용하여 아래와 똑같은 내용으로 내림차순 출력되도록 프로그램 하시오. 같은 차량 모델 갯수를 갖는 company의 출력순서는 바뀌어도 상관없음.

In [2]:
import pandas as pd
df = pd.read_csv("Automobile_data.csv")
df['company'].value_counts()

toyota           7
bmw              6
mazda            5
nissan           5
volkswagen       4
mercedes-benz    4
mitsubishi       4
audi             4
isuzu            3
jaguar           3
porsche          3
alfa-romero      3
chevrolet        3
honda            3
dodge            2
volvo            2
Name: company, dtype: int64

In [3]:
df.groupby('company')['company'].count().sort_values(ascending = False)

company
toyota           7
bmw              6
nissan           5
mazda            5
volkswagen       4
mitsubishi       4
mercedes-benz    4
audi             4
porsche          3
jaguar           3
isuzu            3
honda            3
chevrolet        3
alfa-romero      3
volvo            2
dodge            2
Name: company, dtype: int64